вPROJECT_NAME=project
COMPOSE_FILE=deploy/docker-compose.yml:docker-compose.yml
SERVER_NAME=localhost

##RABBITMQ ENVIRONMENT
RABBITMQ_TAG=bitnami/rabbitmq:latest
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=password

##PORTS
DATABASE_PORT=5432
RABBITMQ_PORT=5672
RABBITMQ_MANAGER_PORT=15672
WEB_SERVICE_PORT=8080

##DATABASE ENVIRONMENT
DATABASE_PASSWORD=password
DATABASE_USER=postgres
AUTH_DATABASE=auth
CORE_DATABASE=core

##MICROSERVICE KEYS
AUTH_KEY=uZsLnAJz35FWUTVx@eg#Xirv6I*jcw2Y1
CORE_KEY=w8D3A9XNhR0ckQlGo*%LWFfPzuHEKxj4

##TOKEN_TIME
AUTH_USER_MASTER_TOKEN_TTL=45

##EMAIL
EMAIL_SENDER_EMAIL=test@sputnik-ttit.bizml.ru
EMAIL_SENDER_PASSWORD=lvbnhbqfktrcfylhjdbxytcltkfkxfn123
EMAIL_SENDER_NAME=test

##QUEUE
QUEUE_CONNECTION=database

##CENTRIFUGO
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=1dcc78b0-2abe-4e26-89e6-de1cea0e0949
CENTRIFUGO_ADMIN_PASSWORD=admin_password
CENTRIFUGO_API_KEY=6b39712f-e984-4d82-8369-9c45f3111f9e
CENTRIFUGO_ADMIN_SECRET=9b6f6854-7525-4025-99df-0a8f288acdd0

##CLIENT API
VUE_APP_API_URL=http://sputnik.tomtit-tomsk.ru/api

##DEBUG
APP_DEBUG=false